.form-content.m-card
  .form-title.m-card-header
    h2 User Information
  .form-part.m-card-body
    .form-section
      .form-group.columns
        text.input(bind='email', label='Email')
      .form-group.columns
        text.input(bind='firstName', label='First Name')
        text.input(bind='lastName',  label='Last Name')
      .form-group.columns
        text.input(bind='phone', label='Phone')
        switch.input(bind='enabled', label='Enabled')
  .form-part.m-card-body
    .form-section.columns
      button.submit(onclick='{ showSave }') Save
      button(onclick='{ showReset }') Reset

.form-content.m-card
  .form-title.m-card-header
    h2 Affiliate Marketing
  .form-part.m-card-body
    .form-section
      .form-group.columns
        text.input(bind='commission.flat', label='Flat Fee')
        text.input(bind='commission.percent',  label='Percent Fee')
      .form-group.columns
        text.input(bind='commission.couponId', label='Affiliate Coupon')
        switch.input(bind='commission.enabled', label='Enabled')
  .form-part.m-card-body
    .form-section.columns
      button.submit(onclick='{ showSave }') Save
      button(onclick='{ showReset }') Reset

.form-content.m-card
  .form-title.m-card-header
    h2 Orders
  hanzo-user-orders.m-card-body

daisho-modal.reset(class='{ show: showResetModal }')
  .modal-title
    h4(if='{ !loading }') Are you sure you want to reset?
    h4(if='{ loading }') Resetting...
  .modal-section(if='{ !loading }')
    button(onclick='{ reset }') Yes
    button(onclick='{ cancelModals }') No

daisho-modal.save(class='{ show: showSaveModal }')
  .modal-title
    h4(if='{ !loading }') Are you sure you want to save?
    h4(if='{ loading }') Saving...
  .modal-section(if='{ !loading }')
    button(onclick='{ save }') Yes
    button(onclick='{ cancelModals }') No

daisho-modal.failed(class='{ show: showMessageModal }')
  .modal-title
    h4 { message }
  .modal-section
    button(onclick='{ cancelModals }') Ok
