.header.content
  div
    h2 Dashboard
    date-range-picker-control(lookup='filter', after="{ parentData.get('orgs')[parentData.get('activeOrg')].createdAt }")

.counters
  daisho-graphics-counter.content(data="{ data.ref('counters.order.count') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.order.revenue') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.order.shipped.count') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.order.shipped.cost') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.order.refunded.count') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.order.refunded.amount') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.order.returned.count') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.user.count') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.subscriber.count') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.product.wycZ3j0kFP0JBv.sold') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.product.wycZ3j0kFP0JBv.shipped.count') }")
  daisho-graphics-counter.content(data="{ data.ref('counters.product.wycZ3j0kFP0JBv.returned.count') }")

.charts.content
  div
    h2 Last { days } Days
    daisho-graphics-chart(data="{ data.ref('summaryChart') }")
