$spacing = 2rem

hanzo-users
  .header
    h2
      float: left
    button
      float: right
      margin-left: $spacing
      width: auto

      &.open
        opacity: .5


hanzo-user-orders
  padding: $spacing * .5 0 !important
  p
    padding: 0 $spacing * 1.25
