.header.content
  div
    text.input(lookup='name', placeholder='Name')
    button.submit(onclick='{ showSave }') Save
    button(onclick='{ showReset }') Reset

.form-content.form-1
  .form-title
    h2 Product Information
  .form-part
    .form-section
      h4 Display
      .form-group.two-inputs
        text.input(lookup='slug', placeholder='Slug')
        text.input(lookup='sku',  placeholder='SKU')
      .form-group
        textbox.input(lookup='description', placeholder='Description')
    .form-section
      h4 Images
      form-group.three-images
        // image-drop-control
        img(src='/img/hero-prod.png')
        img(src='/img/charging-case.png')
        img.tractor-beam(src='/img/add-photo.png')

.form-content.form-2
  .form-title
    h2 Pricing and Availability
  .form-part
    .form-section
      h4 Price
      .form-group.two-inputs
        currency.input(lookup='price',     placeholder='Price')
        currency.input(lookup='listPrice', placeholder='Compare Price')
      h4 Inventory
      .form-group.two-inputs
        switch.input(lookup='available', label='In Stock')
        switch.input(lookup='preorder',  label='In Preorder')
        switch.input(lookup='hidden',    label='Hidden')
        // text.input(lookup='quantity', placeholder='Quantity')
    .form-section
      h4 Shipping
      .form-group.four-inputs.dimensions
        numeric.input(lookup='dimensions.length',     placeholder='Length')
        numeric.input(lookup='dimensions.width',      placeholder='Width')
        numeric.input(lookup='dimensions.height',     placeholder='Height')
        select-control.input(lookup='dimensionsUnit', placeholder='Unit', select-options='{ dimensionsUnits }')
      .form-group.quarter-quarter-half-inputs
        numeric.input(lookup='weight', placeholder='Weight')
        select-control.input(lookup='weightUnit', placeholder='Units', select-options='{ weightUnits }')
        text.input(lookup='estimatedDelivery', placeholder='Estimated Delivery')

daisho-modal.reset(class='{ show: showResetModal }')
  .modal-title
    h4(if='{ !loading }') Are you sure you want to reset?
    h4(if='{ loading }') Resetting...
  .modal-section(if='{ !loading }')
    button(onclick='{ reset }') Yes
    button(onclick='{ cancelModals }') No

daisho-modal.save(class='{ show: showSaveModal }')
  .modal-title
    h4(if='{ !loading }') Are you sure you want to save?
    h4(if='{ loading }') Saving...
  .modal-section(if='{ !loading }')
    button(onclick='{ save }') Yes
    button(onclick='{ cancelModals }') No

daisho-modal.failed(class='{ show: showMessageModal }')
  .modal-title
    h4 { message }
  .modal-section
    button(onclick='{ cancelModals }') Ok
