.header.content.m-card
  div
    h2 Dashboard
    date-range-picker-control(lookup='filter', after="{ parentData.get('orgs')[parentData.get('activeOrg')].createdAt }")

.charts.content.m-card
  div
    h2 Last { days } Days
    daisho-graphics-chart(data="{ data.ref('summaryChart') }")

.columns.counters
  daisho-graphics-counter.content.m-card(data="{ data.ref('counters.order.count') }")
  daisho-graphics-counter.content.m-card(data="{ data.ref('counters.order.revenue') }")
  daisho-graphics-counter.content.m-card(data="{ data.ref('counters.user.count') }")
  daisho-graphics-counter.content.m-card(data="{ data.ref('counters.subscriber.count') }")
  daisho-graphics-counter.content.m-card(data="{ data.ref('counters.order.returned.count') }")
.columns.counters
  // daisho-graphics-counter.content.m-card(data="{ data.ref('counters.order.shipped.count') }")
  // daisho-graphics-counter.content.m-card(data="{ data.ref('counters.order.shipped.cost') }")
  // daisho-graphics-counter.content.m-card(data="{ data.ref('counters.order.refunded.count') }")
  // daisho-graphics-counter.content.m-card(data="{ data.ref('counters.order.refunded.amount') }")
