.header.content
  div
    text.input(bind='name', label='Name')
    button.submit(onclick='{ showSave }') Save
    button(onclick='{ showReset }') Reset

.form-content.form-1
  .form-title
    h2 Product Information
  .form-part
    .form-section
      h4 Display
      .form-group.two-inputs
        text.input(bind='slug', label='Slug')
        text.input(bind='sku',  label='SKU')
      .form-group
        textbox.input(bind='description', label='Description')
    .form-section
      h4 Images
      form-group.three-images
        // image-drop-control
        img(src='/img/hero-prod.png')
        img(src='/img/charging-case.png')
        img.tractor-beam(src='/img/add-photo.png')

.form-content.form-2
  .form-title
    h2 Pricing and Availability
  .form-part
    .form-section
      h4 Price
      .form-group.two-inputs
        currency.input(bind='price',     label='Price')
        currency.input(bind='listPrice', label='Compare Price')
      h4 Inventory
      .form-group.two-inputs
        switch.input(bind='available', label='In Stock')
        switch.input(bind='preorder',  label='In Preorder')
        switch.input(bind='hidden',    label='Hidden')
        // text.input(bind='quantity', label='Quantity')
    .form-section
      h4 Shipping
      .form-group.four-inputs.dimensions
        numeric.input(bind='dimensions.length',     label='Length')
        numeric.input(bind='dimensions.width',      label='Width')
        numeric.input(bind='dimensions.height',     label='Height')
        select-control.input(bind='dimensionsUnit', label='Unit', select-options='{ dimensionsUnits }')
      .form-group.quarter-quarter-half-inputs
        numeric.input(bind='weight', label='Weight')
        select-control.input(bind='weightUnit', label='Units', select-options='{ weightUnits }')
        text.input(bind='estimatedDelivery', label='Estimated Delivery')

daisho-modal.reset(class='{ show: showResetModal }')
  .modal-title
    h4(if='{ !loading }') Are you sure you want to reset?
    h4(if='{ loading }') Resetting...
  .modal-section(if='{ !loading }')
    button(onclick='{ reset }') Yes
    button(onclick='{ cancelModals }') No

daisho-modal.save(class='{ show: showSaveModal }')
  .modal-title
    h4(if='{ !loading }') Are you sure you want to save?
    h4(if='{ loading }') Saving...
  .modal-section(if='{ !loading }')
    button(onclick='{ save }') Yes
    button(onclick='{ cancelModals }') No

daisho-modal.failed(class='{ show: showMessageModal }')
  .modal-title
    h4 { message }
  .modal-section
    button(onclick='{ cancelModals }') Ok
