.button
button
  background-color: $backgroundColor3
  color: $textColor2
  text-align: center
  font-size: 1em
  padding: 0
  height: $elementHeight
  padding: 0 $elementHeight
  cursor: pointer
  border: 0
  box-shadow: 0 2px 5px $dropShadowColor1

  &.submit
  &[type=submit]
    background-color: $accentColor2
    width: 100%

button
  outline: none


