@require 'astley.js/src/css/inputs/buttons'

.button
button
  background-color: $backgroundColor3
  color: $textColor2
  text-align: center

  &.submit
  &[type=submit]
    background-color: $accentColor2

