.button
button
  display: inline-block
  background-color: $backgroundColor3
  color: $textColor2
  text-align: center
  font-size: $spacing * 2
  padding: 0 $elementHeight
  cursor: pointer
  border: 0
  box-shadow: 0 2px 5px $dropShadowColor1
  line-height: 2rem
  outline: none

  &.submit
  &[type=submit]
    background-color: $accentColor2
    width: 100%
