daisho-graphics-counter
  display: block

  padding: 0 20px
  text-align: center

  .display.display
    .number
      font-size: 2em
    padding: 20px 40px 10px

  .label.label
    font-size: .75em
    padding: 10px 40px 20px

