.counters.columns
  margin: 0 $spacing * -2 $spacing * 4
  align-items: flex-start

  & > *
    margin: 0 $spacing * 2

daisho-graphics-counter
  display: block
  position: relative

  text-align: center

  .counter-display.counter-display
    .counter-number
      font-size: 2em
    padding: 20px 0 10px

  .counter-label.counter-label
    font-size: .75em
    padding: 10px 0 20px



