body
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  font-size: $fontSize

text
  font: $svgFontSize 'Open Sans', Helvetica, Arial, sans-serif

h1
  font-size: 2.074em
  margin-bottom: 0

h2
  font-size: 1.728em
  margin-bottom: 0

h3
  font-size: 1.44em
  margin-bottom: 0

h4
  font-size: 1.2em
  margin-bottom: 0
