.form-content.form-content.form-content
  background-color: $backgroundColor1
  width: 100%
  margin-bottom: $spacing * 4

  & > *
    padding $elementVSpacing $elementHSpacing

  .form-title
    color: $textColor1
    // background-color: $backgroundColor2
    border-bottom: $elementBorderWidth solid $borderColor2
    display: table

  .form-group
    width: 100%

  .form-section, .form-group
    h1, h2, h3, h4, h5, p
      margin: $spacing * 2 0 $spacing * 1

  .m-card-body
    margin: 0

.columns
  &.form-part
  &.form-group
  &.form-section
    align-items: flex-start

    & > *
      margin: 0 $spacing * 2

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

.error
  color: #f22469
