.form-content
  border: $elementBorderWidth solid $borderColor2
  background-color: $backgroundColor1
  display: table
  width: 100%
  margin-bottom: 20px

  & > *
    display: block
    overflow: auto
    padding $elementVSpacing $elementHSpacing

  .form-title
    color: $textColor1
    background-color: $backgroundColor2
    border-bottom: $elementBorderWidth solid $borderColor2

  .form-group
    display: table
    width: 100%

  .form-section, .form-group
    h1, h2, h3, h4, h5, p
      margin-bottom: 20px

