.page
  width: 100vw
  height: 100vh
  position: absolute
  left: 0
  top: 0
  font-size: $fontSize
  color: $textColor1

  .content
    border: $elementBorderWidth solid $borderColor2
    background-color: $backgroundColor1

    &:not(.vertical-divider) > *
      display: block
      overflow: auto
      padding $elementVSpacing $elementHSpacing
      border-bottom: $elementBorderWidth solid $borderColor2

      &:last-child
        border-bottom: 0

    &(.vertical-divider) > *

      border-right: $elementBorderWidth solid $borderColor2

      &:last-child
        border-right: 0

    .title
      color: $textColor1
      background-color: $backgroundColor2

