header
  background: linear-gradient(to bottom,#2fd4a5 0%,#22d4a8 100%)
  display: table
  color: $textColor2
  width: 100%

  #org-switcher
    float: right
    width: 160px
    margin: $headerSpacing $elementHSpacing

  #command-bar
    float:left
    max-width: 800px
    width: 100%
    margin: $headerSpacing $elementHSpacing

    &:before
      content: '⚲'
      transform: rotate(45deg) translate(-4px, 10px)
      position: absolute

    .commands-found
      position: absolute
      max-width: 800px
      width: 100%
      background-color: #fff
      color: $textColor1
      box-shadow: 0 1px 3px rgba(0,0,0,.1)
      cursor: pointer

      .command-found
        padding: 0 8px
        height: $elementHeight
        padding: 0 $inputHPadding
        line-height: $elementHeight

        &:hover
          background-color: $selectActiveBackgroundColor1
          color: $selectActiveColor1

        & > *
          display: inline-block

  .logo
    height: $headerElementHeight
    width: $headerElementHeight
    margin: $headerSpacing
    float: left

  .name
    font-size: 19px
    margin: $headerSpacing 0
    float: left

