@require 'selectize'

*:disabled
.disabled
  opacity: 0.5

input
  outline: none
  border: 0
  background: transparent

  &:-moz-placeholder
    color: $textColor1

  &::-moz-placeholder
    color: $

  &:-ms-input-placeholder
    color: $textColor1

  &::-webkit-input-placeholder
    color: $textColor1

.input
  width: 100%
  display: block

  &:not(:last-child)
    margin-bottom: $elementVSpacing

  input[type=text]
  input[type=password]
    width: 100%
    height: $elementHeight
    font-size: 1em
    border-bottom: $inputBorderWidth solid $borderColor1
    padding: 0 $inputHPadding

.error-message
.error
  color: $errorColor

.button
button
  background-color: $buttonBackgroundColor1
  border-color: $buttonBorderColor1
  color: $buttonColor1
  text-align: center
  line-height: $elementHeight
  font-size: 1em
  cursor: pointer

  &.submit
  &[type=submit]
    background-color: $buttonBackgroundColor2
    border-color: $buttonBorderColor2
    color: $buttonColor2

