#page
  background-color: $backgroundColor2
  width: calc(100vw - 200px)
  height: calc(100vh - 60px)
  float: left
  padding: 0 $elementHSpacing
  overflow: auto

  & > *
    margin: $elementVSpacing 0
    display: block
