#menu
  width: $menuWidth
  background-color: $backgroundColor3
  padding: $elementVSpacing $elementHSpacing
  color: $textColor2
  height: calc( 100vh - 60px )
  float: left
  overflow-y: auto

  ul
    margin-bottom: 0

    li
      cursor: pointer
      list-style-type: none
      height: $elementHeight
      line-height: 2em
