#screen-login
  background: radial-gradient(circle at 52% 142%,#595959 50%,#393939 100%)
  .content
    width: 300px
    position: absolute
    margin: 0 auto
    left: 50vw
    top: 50vh
    transform: translate(-50%, -50%)
    display: none
