// Formatting
$elementVSpacing = 20px
$elementHSpacing = 40px
$elementHeight = 2em
$fontSize = 16px
$inputHPadding = 8px

$borderWidth = 2px

// Colors
$accentColor1 = #2fd4a5

$errorColor = red

$backgroundColor1 = #fff
$backgroundColor2 = #eee

$borderColor1 = #666
$borderColor2 = #999

$textColor1 = #666
$textColor2 = #fff
$textColor3 = #000
$placeholderColor1 = $textColor1

// Button
$buttonBackgroundColor1 = transparent
$buttonBackgroundColor2 = $accentColor1

$buttonColor1 = $textColor1
$buttonColor2 = #fff

$buttonBorderColor1 = $borderColor1
$buttonBorderColor2 = $buttonBackgroundColor2

// Select
$selectBackgroundColor1 = #fff
$selectActiveBackgroundColor1 = $accentColor1
$selectActiveColor1 = #fff

