// Formatting
$elementBorderWidth = 1px
$elementHSpacing    = 40px
$elementVSpacing    = 20px
$elementVHSpacing   = $elementHSpacing
$elementHeight      = 2em
$fontSize           = 16px
$svgFontSize        = 12px

$inputHPadding      = 8px
$inputBorderWidth   = 2px

// Transition Times
$transitionFast     = 200ms

// Colors
$accentColor1 = #2fd4a5
$accentColor2 = #25CED1

$errorColor = #EE6055

$backgroundColor1 = #fff
$backgroundColor2 = #eee
$backgroundColor3 = #333

$borderColor1 = #666
$borderColor2 = #999

$textColor1 = #666
$textColor2 = #fff
$placeholderColor1 = $textColor1

$dropShadowColor1 = rgba(0,0,0,0.22)

// Button
$buttonBackgroundColor1 = transparent
$buttonBackgroundColor2 = $accentColor1

$buttonColor1 = $textColor1
$buttonColor2 = #fff

$buttonBorderColor1 = $borderColor1
$buttonBorderColor2 = $buttonBackgroundColor2

// Select
$selectBackgroundColor1 = #fff
$selectActiveBackgroundColor1 = $accentColor1
$selectActiveColor1 = #fff

// Header
$headerHeight = 60px
$headerElementHeight = 32px
$headerSpacing = (60px - $headerElementHeight) / 2

// Menu
$menuWidth = 200px
