.table
  display: table
  width: 100%
  background-color: $backgroundColor1
  padding: $elementVSpacing 0

// borders
.table-header
.table-row
  & > *
    border-bottom: 1px solid rgba(0,0,0,0.12)

  &:last-child
    & > *
      border-bottom: 0

.table-header
  display: table-header-group

  & > *
    display: table-cell
    vertical-align: middle
    padding: ($elementVSpacing / 2)
    cursor: default

    &:first-child
      padding-left: $elementHSpacing !important

    &:last-child
      padding-right: $elementHSpacing !important

.table-row
  display: table-row
  transition: all $transitionFast ease-in-out

  & > *
    display: table-cell
    height: 96px
    vertical-align: middle
    position: relative

    &:first-child
      padding-left: $elementHSpacing !important

    &:last-child
      padding-right: $elementHSpacing !important

  &:hover
    background-color: $accentColor1
    color: $textColor2

.table-load-more
  margin-top:  2rem

  button
  .button
    line-height: 4rem

.table-row
  cursor: pointer

.table-cell
  padding: $spacing * 2
