.table
  display: table
  width: 100%
  background-color: $backgroundColor1
  padding: 0 ($elementHSpacing / 2)
  box-shadow: 0 2px 5px $dropShadowColor1
  padding: $elementVSpacing 0

.table-header
  display: table-header-group

  & > *
    display: table-cell
    vertical-align: middle
    padding: ($elementVSpacing / 2)

    &:first-child
      padding-left: $elementHSpacing !important

    &:last-child
      padding-right: $elementHSpacing !important

.table-row
  display: table-row
  transition: all $transitionFast ease-in-out

  & > *
    display: table-cell
    height: 96px
    vertical-align: middle
    position: relative

    &:first-child
      padding-left: $elementHSpacing !important

    &:last-child
      padding-right: $elementHSpacing !important

  &:hover
    background-color: $accentColor1
    color: $textColor2
