.tip
  color: $textColor2
  background-color: $backgroundColor3
  opacity: 0.8
  font-size: .75em
  padding: 5px 10px
  transition: opacity $transitionFast ease-in

  .tip-group
    width: 100%

    .tip-label
      margin-right: 5px
    .tip-value
      float: right
      // color: $accentColor2

  &:after
    box-sizing: border-box
    display: inline
    font-size: 10px
    width: 100%
    line-height: 1
    color: $backgroundColor3
    opacity: 0.8
    content: "\25BC"
    position: absolute
    text-align: center

  /* Style northward tooltips differently */
  &.n:after
    margin: -2px 0 0 0
    top: 100%
    left: 0
