hanzo-home
  daisho-graphics-chart
    display: table

    svg
      padding: 0
      margin: 0

  .counters
    display: table
    width: 100%

  daisho-graphics-counter
    display: table
    column 1/4 4 20px
    margin-bottom: 20px

  .header
    margin-bottom: 20px

    & > *
      display: table
      width: 100%
      padding: 10px 20px

    h2
      line-height: 1.4em
      float: left

  .counters
    margin-bottom: 20px

  date-range-picker-control
    display: table
    float: right
