html
  head
    meta(charset='utf-8')
    title Hanzo Dashboard
    link(href='/css/app.css',rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800', rel='stylesheet')
  body
    #screen-dashboard.screen
      daisho-main
        header
          img.logo(src='//static.hanzo.io/backend/img/logo.svg')
          .name hanzo
          #command-bar
            daisho-command-bar.input
          #org-switcher
            dropdown.input(select-options='{ orgs }', lookup='activeOrg')


        #menu
          daisho-menu

        #page

    #screen-login.screen
      .content
        .title
          h1 Login
        daisho-login.section

  script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  script(src='/js/app.js')
